
.hfkhbgjzlgf{
    background:linear-gradient(to right,#ff00b1,#3f00ff78);
    height: 100%;
}

.bghldxb{
    background-color: rgb(27, 7, 7);
    
}
.button{
    color:white;
    background-color: black;
}
.butt{
    
}